@font-face {
    font-family: 'audiowide';
    src: url('../fonts/audiowide-regular-webfont.woff2') format('woff2'),
         url('../fonts/audiowide-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'audiowide', sans-serif;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    background-color: #11111b;
    overflow-x: hidden;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    padding: 3rem;
}

header > h1 {
    font-size: clamp(1.5rem, 3vw, 4rem);
    color: #b4befe;
    animation: fadeIn 1s;
}

#main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    height: fit-content;
    padding: 0rem 3rem
}

#board {
    width: clamp(300px, 80%, 600px);
    aspect-ratio: 1;
    border-left: 1px solid #b4befe;
    border-top: 1px solid #b4befe;
}

#board > .row {
    display: flex;
    width: 100%;
    height: calc(100% / 9);
    justify-content: center;
    align-items: center;
}

#board > .row > .cell {
    width: calc(100% / 9);
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 3vw, 2rem);
    color: #b4befe;
    background-color: #1e1e2e;
    border: 1px solid #11111b;
    outline: none;
    transition: all 200ms ease-in-out;
}

#board > .row > .cell:hover {
    background-color: #6c7086;
}

#board > .row > .cell:focus {
    background-color: #313244;
}

@keyframes warning {
    from {
        background-color: #f38ba8;
        color: #94e2d5;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#controls {
    width: clamp(100px, 60%, 350px);
    display: flex;
    aspect-ratio: 0.8;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
    background-color: #1e1e2e;
    border: 3px solid #b4befe;
    border-radius: 20px;
}

#controls > h1 {
    font-size: clamp(1rem, 1.2vw, 2rem);
    color: #b4befe;
}

#controls > button {
    width: clamp(100px, 70%, 400px);
    aspect-ratio: 6;
    padding: 1rem;
    font-size: clamp(1rem, 1vw, 2rem);
    color: #b4befe;
    background-color: #11111b;
    border: 3px solid #b4befe;
    border-radius: 12px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
}

#controls > button:hover {
    background-color: #b4befe;
    color: #11111b;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    height: fit-content;
    padding: 0.2rem 1rem;
}

.slider > label {
    font-size: clamp(1rem, 1.1vw, 2rem);
    color: #b4befe;
    margin-right: 20%;
}

.slider > input {
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    width: 60px;
    aspect-ratio: 2.5;
    background-color: #11111b;
    border-radius: 20px;
    transition: 0.5s;
}

.slider > input:checked {
    background-color: #b4befe;
}

.slider > input::before {
    content: '';
    position: relative;
    display: block;
    transition: 0.5s;
    width: 33px;
    height: 33px;
    background-color: #45475a;
    border-radius: 50%;
}

.slider > input:checked::before {
    transform: translateX(30px);
}

#warnLabel {
    color: #f38ba8;
}

#warn:checked {
    background-color: #f38ba8;
}

#delaySettings {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

#delaySettings > label {
    font-size: clamp(1rem, 1.1vw, 2rem);
    color: #b4befe;
}

#showDelay {
    color: #f38ba8;
    font-size: clamp(1rem, 1.1vw, 2rem);
}

#delay {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 2rem;
    background-color: #1e1e2e;
    outline: none;
    transition: 0.5s;
}

#delay::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -12px;
    background-color: #b4befe;
    height: 1rem;
    width: 1rem;  
    border-radius: 50%;
}

#delay::-moz-range-thumb {
    background-color: #b4befe;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

#delay::-webkit-slider-runnable-track {
    height: 0.5rem;
    background-color: #11111b;
}

#delay::-moz-range-track {
    height: 0.5rem;
    background-color: #11111b;
}

#delay::-moz-range-progress {
    height: 0.5rem;
    background-color: #b4befe;
}

#delay::-webkit-slider-progress {
    height: 0.5rem;
    background-color: #b4befe;
}
